@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #F3F4F6;
  /* text-primary */
  background-color: #0a0f1c;
  /* background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {

  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0f1c;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Mobile Optimizations */
  touch-action: none;
  /* Disable all native touch interactions (native zoom, pull-to-refresh) */
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}

#root {
  width: 100%;
  height: 100vh;
}

/* React PDF Canvas Fixes */
.react-pdf__Page__canvas {
  margin: 0 auto;
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
  height: auto !important;
  width: auto !important;
  object-fit: contain;
}

.react-pdf__Page {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;
}